.message-body {
  max-width: 85%;
  display: flex;

  .message-avatar {
    padding: 8px;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .message-content {
    .message {
      text-align: left;
      background-color: white;
      border-radius: 35px;
      padding: 10px 20px;
      box-shadow: 0 8px 24px rgb(0 0 0 / 10%);
    }

    .time {
      color: var(--dark-gray-color);
      margin-top: 5px;
      font-size: 10px;
      text-align: left;
    }
  }

  &.message-right {
    margin-left: auto;
    justify-content: flex-end;

    .message-content {
      .message {
        background-color: var(--accent-color);
        color: white;
      }

      .time {
        text-align: right;
      }
    }
  }
}
