@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto-Bold.ttf");
}


:root {
  --bg-color: #f5f5f5;
  --primary-color: #680a83;
  --accent-color: #ffa977;
  --gray-color: #ccc;
  --light-gray-color: #eee;
  --dark-gray-color: #777;
  --danger-color: #c10707;
  --success-color: green;
  --modal-bg-color: rgb(0 0 0 / 50%);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: Roboto, sans-serif;
  font-size: 12px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

h1, h2, h3, h4, h5 {
  font-family: Roboto-Bold, sans-serif;
}

router-link, router-link:hover, router-link:focus, a, a:hover, a:focus {
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: none;
}

.color-primary {
  color: var(--primary-color);
}

.color-accent {
  color: var(--accent-color);
}

.color-gray {
  color: var(--gray-color);
}

.color-light-gray {
  color: var(--light-gray-color)
}

.color-dark-gray {
  color: var(--dark-gray-color)
}

.color-danger {
  color: var(--danger-color)
}

.color-success {
  color: var(--success-color)
}

.wrapper {
  display: table;
  width: 100%;
  vertical-align: middle;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;

  .container {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
  }
}

.card {
  text-align: left;
  display: inline-block;
  background-color: white;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 8px 24px rgb(0 0 0 / 10%);
}

.card-modal {
  width: 500px;
  margin: 0 auto;
  background-color: white;

  @media screen and (max-width: 576px) {
    width: 350px;
  }
}

.logo-image {
  width: 150px;

  @media screen and (max-width: 992px) {
    width: 100px;
    margin-left: 10px;
  }
}


label {
  display: inline-block;
  margin-bottom: 0.25rem;
  color: var(--dark-gray-color);
}

.placeholder {
  left: 10px;
  top: 18px;
  color: var(--gray-color);
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
}

.input-container {
  position: relative;
  width: 100%;
  padding-top: 10px;
}

.form-control {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--gray-color);
  padding: 5px;
  margin-bottom: 15px;
  font-size: 14px;
  border-radius: 6px;
  height: 30px;

  &::placeholder {
    color: var(--gray-color)
  }

  &:focus {
    border-bottom: 2px solid var(--primary-color);
    background-color: white;
  }

  &:focus ~ .placeholder,
  &:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-20px) translateX(-5px) scale(0.75);
    color: var(--gray-color)
  }

  &:not(:placeholder-shown) ~ .placeholder {
    color: var(--primary-color);
  }

  &:focus ~ .placeholder {
    color: var(--primary-color);
  }

  &.error {
    border-bottom: 2px solid var(--danger-color);
  }

  &.success {
    border-bottom: 2px solid var(--success-color);
  }

  @media screen and (max-width: 375px) {
    padding: 5px;
    height: 28px;
  }
}

.error-message {
  position: absolute;
  top: 43px;
  display: none;
  width: 100%;
  color: var(--danger-color);
  text-align: right;
  font-size: 10px;
}

.btn {
  font-size: 12px;
  padding: 9px 14px;
  line-height: 1.6;
  border-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  background-color: #680a83;
  box-shadow: none;
  margin: 7px auto 10px;
  color: white;
  text-align: center;

  &.outline {
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }

  &:hover {
    background-color: var(--accent-color);
    color: white;
  }
}

a.btn:hover, a.btn:active, a.btn:focus {
  text-decoration: none;
}

.rounded-circle {
  border-radius: 50%;
}





