<div class="container d-table-cell vertical-align-middle error-page">
  <h1 class="mt-0">Error 500</h1>
  <h2>Already working hard</h2>
  <router-link href="/" class="btn w-100">Back to chatting...</router-link>
</div>
