<ul class="users-list">
  {{#each list}}
    <li>
      <users-list-item
        class="users-item"
        event-select="[[selectUser({{id}})]]"
        props-user="[[usersList[{{id}}]]]"
      >
      </users-list-item>
    </li>
  {{/each}}
</ul>
