<div class="container d-flex text-left">
  <left-block id="sidebar" class="sidebar-group"></left-block>
  <app-router class="chat" id="right-router" props-routes="[[rightRoutes]]"></app-router>
</div>
