<form novalidate id="add-user-form">
	<div class="mb-1 input-container">
		<input
				class="form-control"
				type="text"
				name="phone"
				id="phone"
				placeholder=" "
		/>
		<label for="phone" class="placeholder">Phone number</label>
	</div>
	<div class="mb-2 input-container">
		<input
				class="form-control"
				type="email"
				name="email"
				id="email"
				placeholder=" "
		/>
		<label for="email" class="placeholder">Email</label>
	</div>

	<div class="buttons">
		<button class="btn" type="submit">Submit</button>
		<button class="btn outline" type="reset">Not now</button>
	</div>
</form>

