<form id="add-user-form">
	<div class="mb-1">
		<label for="phone">Phone number</label>
		<input class="form-control" type="text" name="phone"
			   placeholder="+7 123 123-123-12"/>
	</div>
	<div class="mb-2">
		<label for="email">Email</label>
		<input class="form-control" type="email" name="email"
			   placeholder="john@doe.com"/>
	</div>

	<div class="buttons">
		<button class="btn" type="submit">Submit</button>
		<button class="btn outline">Not now</button>
	</div>
</form>

