<form id="add-chat-form">
	<div class="mb-2">
		<label for="chat_name">Chat name</label>
		<input class="form-control" type="text" name="chat_name"
			   placeholder="new chat name"/>
	</div>

	<div class="buttons">
		<button class="btn" type="submit">Submit</button>
		<button class="btn outline">Not now</button>
	</div>
</form>

