<div class="text-center">
  <h2>{{text}}</h2>
  <div class="modal-buttons">
    <button class="btn w-100" event-click="[[clickYes]]">Yes</button>
    <button class="btn w-100 outline" event-click="[[clickNo]]">No</button>
  </div>
</div>
