<form novalidate id="rename-chat-form">
	<div class="mb-2 input-container">
		<input
				class="form-control"
				type="text"
				name="chat_name"
				id="chat_name"
				placeholder=" "
				value="{{chatTitle}}"
		/>
		<label for="chat_name" class="placeholder">Chat name</label>
	</div>

	<div class="buttons">
		<button class="btn" type="submit">Rename</button>
		<button class="btn outline" type="reset">Not now</button>
	</div>
</form>

