<div class="text-center">
	<h2>{{text}}</h2>
	<form id="confirm-form">
		<div class="modal-buttons">
			<button class="btn w-100" type="submit" value="yes">Yes</button>
			<button class="btn w-100 outline" type="reset" value="no">No</button>
		</div>
	</form>
</div>
