:root {
	--bg-color: #f5f5f5;
	--primary-color: #680a83;
	--accent-color: #ffa977;
	--gray-color: #CCC;
	--light-gray-color: #EEE;
	--dark-gray-color: #777;
	--danger-color: #c10707;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}

a, a:hover, a:focus {
	color: var(--primary-color);
	text-decoration: none;
}

label {
	display: inline-block;
	margin-bottom: 0.25rem;
	color: var(--dark-gray-color);
}

.wrapper {
	display: table;
	width: 100%;
	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;

	max-width: 1200px;

	.container {
		height: 100vh;
		width: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		text-align: center;
	}
}


.card {
	text-align: left;
	display: inline-block;
	background-color: white;
	border: 0;
	border-radius: 6px;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.card-modal {
	width: 500px;
	margin: 0 auto;
	background-color: white;
	@media screen and (max-width: 576px) {
		width: 350px;
	}
}

.logo-image {
	width: 150px;
	@media screen and (max-width: 992px) {
		width: 100px;
		margin-left: 10px;
	}

}

.form-control {
	border-radius: 6px;
	display: block;
	width: 100%;
	border: 1px solid var(--gray-color);
	background-color: var(--light-gray-color);
	height: 38px;
	padding: 10px;
	font-size: 12px;
	line-height: 1.6;

	@media screen and (max-width: 375px) {
		padding: 5px;
		height: 28px;
	}

}

.form-control::placeholder {
	color: var(--gray-color);
}

.form-control:focus {
	border: 1px solid var(--gray-color);
	background-color: white;
}

.wrong-input {
	border: 1px solid var(--danger-color);
}


.btn {
	font-size: 12px;
	padding: 9px 14px;
	line-height: 1.6;
	border-color: transparent;
	cursor: pointer;
	border-radius: 5px;
	background-color: #680a83;
	box-shadow: none;
	margin: 7px auto 10px;
	color: white;
	font-size: 12px;
	text-align: center;

	&.outline {
		background: transparent;
		color: var(--primary-color);
		border: 1px solid var(--primary-color);
	}

	&:hover {
		background-color: var(--accent-color);
		color: white;
	}
}


a.btn:hover, a.btn:active, a.btn:focus {
	text-decoration: none;
}

.rounded-circle {
	border-radius: 50%;
}





