.p-0 {
	padding: 0;
}

.p-1 {
	padding: 0.25rem;
}

.p-2 {
	padding: 0.75rem;
}

.pt-1 {
	padding-top: 0.25rem;
}

.pt-2 {
	padding-top: 0.75rem;
}


.pb-1 {
	padding-bottom: 0.25rem;
}

.m-0 {
	margin: 0;
}

.m-1 {
	margin: 0.25rem;
}

.m-2 {
	margin: 0.75rem;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-1 {
	margin-bottom: 0.25rem;
}

.mb-2 {
	margin-bottom: 0.75rem;
}


.w-100 {
	width: 100%;
}

.d-flex {
	display: flex;
}

.d-none {
	display: none !important;
}

.d-block {
	display: block !important;
}

.d-table-cell {
	display: table-cell;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.vertical-align-middle {
	vertical-align: middle;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

