<div class="container d-table-cell vertical-align-middle">
  <div class="card card-auth">
    <div class="auth-header">
      <a class="router-link" href="/">
        <img class="logo-image" src="/images/logo.png" alt="">
      </a>
    </div>
    <div class="auth-body">
      <form-validator props-data="[[formFields]]" event-validated="[[formValidated]]">
        <form novalidate>
          <div class="mb-1 input-container">
            <input
              class="form-control"
              type="text"
              name="first_name"
              id="first_name"
              placeholder=" "
              autofocus
            />
            <label for="first_name" class="placeholder">First name</label>
          </div>
          <div class="mb-1 input-container">
            <input
              class="form-control"
              type="text"
              name="second_name"
              id="second_name"
              placeholder=" "
            />
            <label for="second_name" class="placeholder">Second name</label>
          </div>
          <div class="mb-1 input-container">
            <input
              class="form-control"
              type="text"
              name="login"
              id="login"
              placeholder=" "
            />
            <label for="login" class="placeholder">Login</label>
          </div>
          <div class="mb-1 input-container">
            <input
              class="form-control"
              type="email"
              name="email"
              id="email"
              placeholder=" "
            />
            <label for="email" class="placeholder">Email</label>
          </div>
          <div class="mb-1 input-container">
            <input
              class="form-control"
              type="text"
              name="phone"
              id="phone"
              placeholder=" "
            />
            <label for="phone" class="placeholder">Phone number</label>
          </div>
          <div class="mb-1 input-container">
            <input
              class="form-control"
              type="password"
              name="password"
              id="password"
              placeholder=" "
            />
            <label for="password" class="placeholder">Password</label>
          </div>
          <div class="mb-2 input-container">
            <input
              class="form-control"
              type="password"
              name="confirm_password"
              id="confirm_password"
              placeholder=" "
            />
            <label for="confirm_password" class="placeholder">Confirm password</label>
          </div>

          <div class="auth-error">Error</div>
          <div class="pt-1 pb-1">
            <div class="text-center">
              <button class="btn d-block w-100" type="submit">Register</button>
              <span class="register-link">
								Already have an account?
								<a class="router-link" href="/login">Sing in</a>
						</span>
            </div>
          </div>
        </form>
      </form-validator>
    </div>

  </div>
</div>
















