<div id="chats" class="sidebar active">
  <left-header class="sidebar-header"></left-header>
  <!--  <left-search class="search-chat pt-2"></left-search>-->
  <content-switch class="sidebar-body" id="left-router" props-routes="[[leftRoutes]]"></content-switch>
</div>
