<div id="chats" class="sidebar active">
  <left-header class="sidebar-header"></left-header>
  <left-search class="search-chat pt-2"></left-search>
  <app-router class="sidebar-body" id="left-router" path="/chats" props-data="[[leftRoutes]]"></app-router>
</div>
