<div id="chats" class="sidebar active">
  <left-header class="sidebar-header"></left-header>
  <!--  <left-search class="search-chat pt-2"></left-search>-->
  <app-router class="sidebar-body" id="left-router" props-routes="[[leftRoutes]]"></app-router>
</div>
