<div class="wrapper">
	<div class="container d-table-cell vertical-align-middle error-page">
		<h1 class="mt-0">Error 500</h1>
		<h2>Already working hard</h2>
		<a class="router-link btn w-100" href="/">Back to chatting...</a>
	</div>
</div>
