<div id="chats" class="sidebar active">
	<header class="sidebar-header">
		<div class="sidebar-header-top">
			<a class="router-link" href="/">
				<img class="logo-image" src="/images/logo.png" alt="">
			</a>
			<div class="admin-profile-btn" event-click="[[openAdminProfile]]">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
					 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
					 stroke-linejoin="round" class="feather feather-user">
					<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
					<circle cx="12" cy="7" r="4"></circle>
				</svg>
			</div>
		</div>
		<nav>
			<ul class="nav-tabs">
				<li><a id="mode-chats" class="active" href="#" event-click="[[setModeChats]]">Chats</a></li>
				<li><a id="mode-users" class="d-none" href="#" event-click="[[setModeUsers]]">Users</a></li>
			</ul>
		</nav>
		<button class="btn btn-header" id="add-btn" event-click="[[addUserChat]]">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
				 fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"
				 stroke-linejoin="round" class="feather feather-plus">
				<line x1="12" y1="5" x2="12" y2="19"></line>
				<line x1="5" y1="12" x2="19" y2="12"></line>
			</svg>
		</button>
	</header>
	<section class="search-chat pt-2">
		<span>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
				 fill="none"
				 stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
				 class="feather feather-search">
				<circle cx="11" cy="11" r="8"></circle>
				<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
			</svg>
		</span>
		<input type="text" class="form-control chats-search-control" id="search-contact"
			   placeholder="search...">
	</section>
	<section id="left-container" class="sidebar-body">
		<chats-list class="sidebar-body" id="chats-list"></chats-list>
	</section>
</div>
