<div id="chats" class="sidebar active">
	<header-component class="sidebar-header"></header-component>
	<search-component class="search-chat pt-2"></search-component>
	<section id="left-container" class="sidebar-body">
		<chats-list class="sidebar-body" id="chats-list"></chats-list>
	</section>
</div>
